{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block main %}
<h1 class="page-heading">マイページ/退会手続き</h1>
<div id="complete_wrap" class="container-fluid">
    <div id="complete_box" class="unsubscribe_box">
        <div id="complete_box__body" class="row no-padding">
            <div id="complete_box__message" class="col-sm-6 col-sm-offset-3">
                    <h3>退会が完了いたしました</h3>
                    <p>ご利用いただき誠にありがとうございました。<br>
                    またのご来店をお待ちしております。</p>
            </div>
        </div>
        <div id="complete_box__top_button" class="row">
            <div class="btn_group col-sm-offset-4 col-sm-4">
                <p><a href="{{ url('homepage') }}" class="btn btn-info btn-block">トップページへ</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}