<div class="bottomInfo">
  <div class="shortwrap">
    <div class="inner">
      <div class="credit">
        <p>各種クレジットカードでのお支払いOK</p>
        <img src="{{ app.config.front_urlpath }}/assets/images/common/credit.png" alt="">
      </div>

      <a href="tel:076-264-3221" class="foot_num">
        <p>お電話でのご注文・お問い合わせはこちら</p>
        <p class="num">076-264-3221</p>
      </a>

      <a href="#" class="foot-contact">ヘルプ・お問い合わせ</a>
    </div>
  </div>
</div>
