<section class="howto-section">
  <div class="wrap">
    <h3>HIKOTA E-SHOPをご利用いただくには<br class="sp_only">会員登録が必要です</h3>
    <a href="#" class="btn btn-red">新規会員登録<i class="fas fa-caret-right"></i></a>
    <p class="wat_text mt30">ご登録・年会費は無料！<br class="sp_only">サロン関係者専用の仕入れサイトです。</p>
    <h4><img src="{{ app.config.front_urlpath }}/assets/images/common/icon_beginner.png" alt="初心者マーク" class="icon_beginner">お買い物スタートまでの流れ</h4>
    <div class="steps">
      <dl class="step_block">
        <dt>STEP 01</dt>
        <dd>会員登録<br>申請</dd>
      </dl>
      <dl class="step_block">
        <dt>STEP 02</dt>
        <dd>HIKOTAで<br>承認作業</dd>
      </dl>
      <dl class="step_block">
        <dt>STEP 03</dt>
        <dd>お買い物<br>スタート</dd>
      </dl>
    </div>
  </div>
</section>
