<section class="top-section-group mt70">
  <div class="top-center-title">
    <h2>新着アイテム</h2>
    <p class="eng">NEW ARRIVAL</p>
  </div>

  <div class="sp-scroll">
    <div class="new_items mt50">

      <div class="product_list-item">
        <a href="/products/detail/2">
          <div class="product_list-photo">
            <div class="prod_img">
              <div class="imgContent">
                <img src="/html/upload/save_image/cafe-1.jpg" alt="パーコレーター">
              </div>
            </div>
          </div>
          <h4 class="product_list-title">パーコレーター</h4>
          <div class="recom_point">
            アウトドアでも淹れたてのコーヒーをお楽しみいただけます。いまだけ、おいしい淹れ方の冊子つきです。
          </div>
          <dl class="product_list-info">
            <dt>価格</dt>
            <dd><p class="text1">ログイン後に表示</p></dd>
          </dl>
        </a>
      </div>

      <div class="product_list-item">
        <a href="#">
          <div class="product_list-photo">
            <div class="prod_img">
              <div class="imgContent">
                <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
              </div>
            </div>
          </div>
          <h4 class="product_list-title">商品名がはいります。</h4>
          <div class="recom_point">
            おすすめポイントがはいります。おすすめポイントがはいります。おすすめポイントがはいります。おすすめポイントが...
          </div>
          <dl class="product_list-info">
            <dt>価格</dt>
            <dd><p class="text1">ログイン後に表示</p></dd>
          </dl>
        </a>
      </div>

      <div class="product_list-item">
        <a href="#">
          <div class="product_list-photo">
            <div class="prod_img">
              <div class="imgContent">
                <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
              </div>
            </div>
          </div>
          <h4 class="product_list-title">商品名がはいります。</h4>
          <div class="recom_point">
            おすすめポイントがはいります。おすすめポイントがはいります。おすすめポイントがはいります。
          </div>
          <dl class="product_list-info">
            <dt>価格</dt>
            <dd><p class="text1">ログイン後に表示</p></dd>
          </dl>
        </a>
      </div>

      <div class="product_list-item">
        <a href="#">
          <div class="product_list-photo">
            <div class="prod_img">
              <div class="imgContent">
                <img src="{{ app.config.front_urlpath }}/assets/images/common/default.png" alt="">
              </div>
            </div>
          </div>
          <h4 class="product_list-title">商品名がはいります。</h4>
          <div class="recom_point">
            おすすめポイントがはいります。おすすめポイントがはいります。おすすめポイントがはいります。
          </div>
          <dl class="product_list-info">
            <dt>価格</dt>
            <dd><p class="text1">ログイン後に表示</p></dd>
          </dl>
        </a>
      </div>
    </div>
  </div>
</section>
