<script type="text/javascript">
$(function(){
    $(".newslist").each(function(){
        var listLenght = $(this).find("dl").length;
        if(listLenght>5){
            $(this).find("dl:gt(4)").each(function(){$(this).hide();});
            $(this).append('<a id="news_readmore">» もっと見る</a>');
            var dispNum = 5;
            $(this).find("#news_readmore").click(function(){
                dispNum +=5;
                $(this).parent().find("dl:lt("+dispNum+")").show(400);
                if (dispNum>=listLenght) {
                    $(this).hide();
                }
            })
        }
    });
});
</script>
<div class="col-sm-9 news_contents">
    <div id="news_area">
        <h2 class="heading01">新着情報</h2>
        <div class="accordion">
            <div class="newslist">

                {% for News in NewsList %}
                <dl>
                    <dt>
                        <span class="date">{{ News.date|date("Y/m/d") }}</span>
                        <span class="news_title">
                            {{ News.title }}
                        </span>
                        {% if News.comment or News.url %}
                        <span class="angle-circle"><svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg></span>
                        {% endif %}
                    </dt>
                    {% if News.comment or News.url %}
                    <dd>{{ News.comment|raw|nl2br}}
                        {% if News.url %}<br>
                        <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %}>
                        詳しくはこちら
                        </a>{% endif %}
                    </dd>
                    {% endif %}
                </dl>
                {% endfor %}

            </div>
        </div>
    </div>
</div>