{#
/*
 * This file is part of the Maker plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% if maker_url %}
  <dl>
    <dt>ブランド</dt>
    <dd><a href="{{ maker_url }}" target="_blank">{{ maker_name }}</a></dd>
  </dl>
{% else %}
  <dl>
    <dt>ブランド</dt>
    <dd>{{ maker_name }}</dd>
  </dl>
{% endif %}
